
<style>
.title{
  font-size: 29px;
  position: absolute;
  left: 23%;
  bottom: 43%;
  
}

.title-centering{
  font-size: 31px;
  position: absolute;
  left: 37%;
  bottom: 49%;
}

#button{
  
  font-size: 29px;
  position: absolute;
  left: 50%;
  bottom: 32%;
  text-decoration: none;


}

</style>

  <div class="title-centering">
    <h1>Mans ceļš</h1>
  </div>

  <div class="title">
    <h2> uz Latvijas Universitāti <h2>
  </div>

  <div>
    <%=link_to "Sākt", level1_path, class: "nes-btn is-normal", id: "button"%>
  </div>
